.header {
	color: #fff;
	width: 100%;
	overflow: hidden;
	max-width: 100%;
	padding-top: 2rem;
	position: relative;
	padding-bottom: 7rem;
	background: #000 url("../img/pattern.png") 0 0;

	&:before {
		left: 50%;
		bottom: -1px;
		content: '';
		z-index: 100;
		width: 768px;
		height: 238px;
		display: block;
		position: absolute;
		margin-left: -384px;
		background: url("../img/header_border_sm.png") 50% 50% no-repeat;
	}

	.header_inner {
		z-index: 100;
		position: relative;
	}

	.container {
		position: relative;
	}

	.header_logo {
		width: 142px;
		margin-bottom: 3rem;
	}

	h1 {
		font-size: 2.6rem;
		line-height: 3rem;

		span {
			padding-top: 0.5rem;
			display: block;
			font-size: 1.8rem;
			line-height: 2.2rem;
			margin-bottom: 3rem;
		}
	}


	.header_text {
		color: #808080;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 4rem;

		strong {
			color: $color-yellow;
		}
	}

	.header_image {
		margin: 0 auto;
		max-width: 320px;
		padding-top: 25px;
		position: relative;
	}

	.header_image_wrap {
		opacity: 0.9;
		margin: 0 -110px -50px -90px;
	}

	.header_quote {
		left: 50%;
		top: 225px;
		width: 244px;
		font-size: 1.6rem;
		line-height: 2rem;
		position: absolute;
		margin-left: -122px;
		padding: 3.2rem 0 0 3.2rem;

		i {
			top: 0;
			left: 0;
			width: 32px;
			height: 24px;
			position: absolute;
			display: inline-block;
		}

		.ico-svg {
			fill: $color-yellow
		}

		p {
		//	margin-bottom: 0.5rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 4rem;
		padding-bottom: 28rem;

		&:before {
			left: 0;
			right: 0;
			width: 100%;
			height: 376px;
			margin-left: 0;
			background: url("../img/header_border_md.png") 0 100% no-repeat;
		}

		.header_logo {
			width: 190px;
			margin-bottom: 3.5rem;
		}

		h1 {
			max-width: 520px;
			font-size: 3.6rem;
			line-height: 4rem;
			margin-bottom: 3.5rem;

			span {
				padding-top: 1rem;
				font-size: 2.4rem;
				line-height: 3rem;
			}
		}

		.header_text {
			max-width: 500px;
			font-size: 1.6rem;
			line-height: 2.4rem;
			margin-bottom: 8rem;
		}

		.header_image {
			right: -300px;
			top: 60px;
			max-width: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
		}

		.header_image_wrap {
			margin: 0;
		}

		.header_quote {
			left: -10px;
			top: 250px;
			margin: 0;
			width: 301px;
			height: 150px;
			color: #000;
			padding: 4.5rem 0 0 4.5rem;
			background: url("../img/quote_bg.svg") 50% 50% no-repeat;
			background-size: cover;

			i {
				top: 15px;
				left: 15px;
			}

		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 32rem;

		&:before {
			background-position: 50% 100%;
		}

		.header_logo {
			margin-bottom: 6rem;
		}

		.header_image {
			top: -40px;
			right: -150px;
		}

		.header_quote {
			top: 380px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 34rem;

		.header_logo {
			margin-bottom: 8rem;
		}

		h1 {
			max-width: 690px;
			font-size: 4.8rem;
			line-height: 5rem;
			margin-bottom: 3.5rem;

			span {
				font-size: 3rem;
				padding-top: 2rem;
				line-height: 3.2rem;
			}
		}

		.header_quote {
			top: 400px;
			left: -30px;
		}
	}
}



.work {
	color: #000;
	width: 100%;
	max-width: 100%;
	background: #fff;
	overflow: hidden;
	padding: 4rem 0 5.5rem 0;

	.work_subtitle {
		color: #808080;
		max-width: 500px;
		font-size: 1.4rem;
		text-align: center;
		margin: 0 auto 1rem auto;
	}

	.h1 {
		font-size: 2.6rem;
		line-height: 3rem;
		text-align: center;
		margin-bottom: 4.5rem;
	}
	.work_graph {
		margin: 0 -1.5rem;
		background: #222325;
		position: relative;
		padding: 2rem 0 4.3rem 0;
	}

	.graph_mobile {
		margin: 0 auto;
		max-width: 320px;
	}

	.graph_legend {
		width: 280px;
		font-size: 0;
		line-height: 0;
		list-style: none;
		background: #000;
		padding: 0.7rem 0.2rem;
		margin: 0 auto 3.5rem auto;
		@include flexbox();
		@include border-radius(5px);

		li {
			width: 33.33%;
			border-left: 1px solid #333333;
			padding: 0.1rem 0 0.1rem 1.3rem;

			&:first-child {
				border-left: none;

				strong {
					color: #fff;
				}
			}

			span {
				color: #fff;
				display: block;
				font-size: 0.8rem;
				line-height: 0.8rem;
				margin-bottom: 0.4rem;
				text-transform: uppercase;
			}

			strong {
				display: block;
				font-size: 1.2rem;
				line-height: 1.2rem;
				color: $color-yellow;
			}
		}
	}

	.graph_desktop {
		display: none;
	}

	.work_content {
		padding-top: 6rem;
	}

	.work_step {
		margin: 0;
		padding: 0;
		list-style: none;
		counter-reset:li;

		li {
			font-size: 1.4rem;
			position: relative;
			padding-left: 8rem;
			line-height: 1.8rem;
			margin-bottom: 2.5rem;

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				top: 0;
				left: 0;
				color: #000;
				width: 60px;
				height: 60px;
				background: #fff;
				padding: 1.5rem 0;
				font-size: 2.4rem;
				line-height: 3rem;
				text-align: center;
				position: absolute;
				content:counter(li);
				counter-increment:li;
				@include border-radius(50%);
				@include box-shadow(0px 2px 13px 0px rgba(0, 0, 0, 0.15));
			}

			strong {
				font-weight: 700;
				font-size: 2rem;
				background: #000;
				line-height: 2rem;
				position: relative;
				color: $color-yellow;
				display: inline-block;
				margin-bottom: 1.2rem;
				padding: 0.4rem 1.6rem 0.4rem 1rem;

				&:before {
					right: -7px;
					width: 12px;
					top: -5px;
					content: '';
					bottom: -5px;
					background: #fff;
					position: absolute;
					display: inline-block;
					@include rotate(20deg);
				}
			}

			span {
				display: block;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 5.5rem;
		padding-bottom: 6.5rem;

		.work_subtitle {
			font-size: 1.6rem;
			margin-bottom: 3.5rem;
		}

		.h1 {
			font-size: 3.6rem;
			line-height: 4rem;
			margin-bottom: 5.5rem;
		}

		.graph_mobile {
			display: none;
		}

		.graph_desktop {
			display: block;
			margin: 0 -23px;
		}

		.work_graph {
			padding: 0;
			margin: 0 auto;
			max-width: 767px;
			background: transparent;
		}

		.graph_legend {
			width: 472px;
			left: 50%;
			top: 45px;
			margin-left: -236px;
			position: absolute;
			padding: 1.3rem 0.2rem;
			margin-bottom: 0;

			li {
				padding: 0.4rem 0 0.4rem 3.5rem;

				strong {
					font-size: 1.3rem;
					line-height: 1.3rem;
				}
			}
		}

		.work_content {
			padding-top: 0;
		}

		.work_step {
			margin: 0 -1.5rem;
			@include flexbox();

			li {
				margin: 0 1.5rem;
				width: calc(33.33% - 3rem);
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 7rem;
		padding-bottom: 5.5rem;

		.work_subtitle {
			margin-bottom: 4rem;
		}

		.h1 {
			font-size: 4.8rem;
			line-height: 5rem;
			margin-bottom: 6rem;
		}

		.work_row {
			@include flexbox();
		}

		.work_graph {
			max-width: inherit;
		}

		.graph_desktop {
			margin: 0 -72px;
		}


		.graph_legend {
			top: 55px;
			width: 564px;
			margin-left: -282px;
			padding: 1.5rem 0.2rem;

			li {
				padding: 0.4rem 0 0.4rem 4.3rem;

				span {
					font-size: 1.2rem;
					line-height: 1.2rem;
				}

				strong {
					font-size: 1.6rem;
					line-height: 1.6rem;
				}
			}
		}

		.work_content {
			width: 360px;
			padding-top: 5.5rem;
			@include flex-shrink(0);
		}

		.work_step {
			margin: 0;
			display: block;

			li {
				width: 100%;
				margin: 0 0 5.5rem 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}


.bonus {
	color: #fff;
	padding: 5.5rem 0 6rem 0;
	background: #000 url("../img/pattern.png") 0 0;

	.h1 {
		margin-bottom: 3.5rem;

		strong {
			font-weight: 600;
			color: $color-yellow;
		}

		span {
			display: block;
			padding-top: 0.5rem;
			font-size: 1.6rem;
			line-height: 2.2rem;
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 7rem 0 8rem 0;

		.h1 {
			margin-bottom: 4rem;

			span {
				padding-top: 1.5rem;
				font-size: 2.4rem;
				line-height: 3rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 9rem 0 10rem 0;

		.h1 {

			span {
				font-size: 3rem;
				line-height: 3.8rem;
			}
		}
	}

}


.footer {
	color: #808080;
	background: #fff;
	padding: 2.5rem 0;

	.copy {
		color: #808080;
		font-size: 1.4rem;
		line-height: 2rem;
		text-transform: uppercase;
	}
}


.privacy {
	left: 0;
	right: 0;
	bottom: 0;
	color: #000;
	z-index: 1000;
	position: fixed;
	background: #fff;
	display: none;
	padding-top: 2.5rem;
	padding-bottom: 3rem;
	border-top: 1px solid #d8d8d8;

	&.first {
		display: block;
	}

	h4 {
		margin-bottom: 1.5rem;
		text-transform: uppercase;
	}

	p {
		margin-bottom: 1.5rem;
	}
}


.modal {
	padding: 4rem 2rem;
	max-width: 360px;
	background: #fff;

	.modal_title {
		font-weight: 600;
		font-size: 2.6rem;
		line-height: 3rem;
		text-align: center;
	//	text-transform: uppercase;
		margin-bottom: 3rem;
	}

	.modal_thanks {
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
		margin-bottom: 1rem;
	}

	.modal_text {
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2rem;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		width: 440px;
		max-width: inherit;
		padding: 40px 50px;

		.modal_title {
			font-size: 3.6rem;
			line-height: 4rem;
		}

		.modal_thanks {
			font-size: 2.4rem;
			line-height: 3rem;
		}
	}
}


.fancybox-slide--current {

	.modal {
		opacity: 1;
		@include scale(1);
		@include transition(.3s);
	}
}

.modal {
	opacity: 0.1;
	@include scale(0.05);
	@include transition(.3s);
}
