@font-face {
	font-family:'Montserrat';
	src: url('../fonts/montserrat/Montserrat_Light.eot');
	src: url('../fonts/montserrat/Montserrat_Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/montserrat/Montserrat_Light.woff2') format('woff2'),
	url('../fonts/montserrat/Montserrat_Light.woff') format('woff'),
	url('../fonts/montserrat/Montserrat_Light.ttf') format('truetype'),
	url('../fonts/montserrat/Montserrat_Light.otf') format('opentype'),
	url('../fonts/montserrat/Montserrat_Light.svg#Montserrat Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family:'Montserrat';
	src: url('../fonts/montserrat/Montserrat_Regular.eot');
	src: url('../fonts/montserrat/Montserrat_Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/montserrat/Montserrat_Regular.woff2') format('woff2'),
	url('../fonts/montserrat/Montserrat_Regular.woff') format('woff'),
	url('../fonts/montserrat/Montserrat_Regular.ttf') format('truetype'),
	url('../fonts/montserrat/Montserrat_Regular.otf') format('opentype'),
	url('../fonts/montserrat/Montserrat_Regular.svg#Montserrat Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family:'Montserrat';
	src: url('../fonts/montserrat/Montserrat_SemiBold.eot');
	src: url('../fonts/montserrat/Montserrat_SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/montserrat/Montserrat_SemiBold.ttf') format('truetype'),
	url('../fonts/montserrat/Montserrat_SemiBold.otf') format('opentype'),
	url('../fonts/montserrat/Montserrat_SemiBold.svg#Montserrat SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
	font-family:'Montserrat';
	src: url('../fonts/montserrat/Montserrat_Bold.eot');
	src: url('../fonts/montserrat/Montserrat_Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/montserrat/Montserrat_Bold.woff2') format('woff2'),
	url('../fonts/montserrat/Montserrat_Bold.woff') format('woff'),
	url('../fonts/montserrat/Montserrat_Bold.ttf') format('truetype'),
	url('../fonts/montserrat/Montserrat_Bold.otf') format('opentype'),
	url('../fonts/montserrat/Montserrat_Bold.svg#Montserrat Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;
}