
@font-face {
	font-family:'Montserrat';
	src: url('Montserrat Light.eot');
	src: url('Montserrat Light.eot?#iefix') format('embedded-opentype'),
	url('Montserrat Light.woff2') format('woff2'),
	url('Montserrat Light.woff') format('woff'),
	url('Montserrat Light.ttf') format('truetype'),
	url('Montserrat Light.otf') format('opentype'),
	url('Montserrat Light.svg#Montserrat Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Montserrat';
    src: url('Montserrat Regular.eot');
	src: url('Montserrat Regular.eot?#iefix') format('embedded-opentype'),
		url('Montserrat Regular.woff2') format('woff2'),
		url('Montserrat Regular.woff') format('woff'),
		url('Montserrat Regular.ttf') format('truetype'),
		url('Montserrat Regular.otf') format('opentype'),
		url('Montserrat Regular.svg#Montserrat Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Montserrat';
    src: url('Montserrat Bold.eot');
	src: url('Montserrat Bold.eot?#iefix') format('embedded-opentype'),
		url('Montserrat Bold.woff2') format('woff2'),
		url('Montserrat Bold.woff') format('woff'),
		url('Montserrat Bold.ttf') format('truetype'),
		url('Montserrat Bold.otf') format('opentype'),
		url('Montserrat Bold.svg#Montserrat Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}