
.btn {
	color: #000;
	border: none;
	outline: none;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2rem;
	user-select: none;
	text-align: center;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	padding: 1rem 2.5rem;
	display: inline-block;
	vertical-align: middle;
	background: $color-yellow;
	text-transform: uppercase;

	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #000;
		background: #fff;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		background: #e5b50b;
	}
}

.btn_dark {
	color: $color-yellow;
	background: #222325;


	&:hover {
		color: #222325;
		background: $color-yellow;
	}
}

.btn_md {
	letter-spacing: 0.5px;
	font-size: 1.8rem;
	padding: 2rem 3.2rem;
	@include border-radius(4px);
}

.btn_key {
	padding-left: 12.7rem;

	&:before {
		width: 1px;
		left: 96px;
		top: 10px;
		bottom: 10px;
		content: '';
		position: absolute;
		background: #cea000;
	}

	i {
		top: 50%;
		left: 30px;
		width: 35px;
		height: 35px;
		margin-top: -18px;
		position: absolute;
	}

	.ico-svg {
		fill: #fff;
	}

	&:hover {

		&:before {
			background: #c2c2c2;
		}

		.ico-svg {
			fill: $color-yellow;
		}
	}
}


.btn_send {
	width: 100%;
	margin-top: 1rem;
}
